.message {
  @include flex-center;

  position: fixed;
  top: 20px;
  left: 50%;
  translate: -50%;
  width: 200px;
  height: 50px;
  background-color: var(--color-blue);
  border: var(--border);
  border-radius: calc(var(--border-radius) / 2);
  z-index: 151;
  text-align: center;

  &.success {
    color: var(--color-blue-01);
    background-color: bisque;
    border-radius: green;
  }

  &.error {
    background-color: var(--color-dark);
    color: red;
  }

  .progress-bar {
    @include abs-center;

    top: 2px;
    width: 90%;
    height: 2px;
    background-color: var(--color-dark);
    animation: progress-animation linear;

    @keyframes progress-animation {
      from {
        width: 90%;
      }

      to {
        width: 0;
      }
    }
  }
}
