@font-face {
  font-family: 'Accidental Presidency (Rus by Lomzz)';
  src: url('../assets/fonts/AccidentalPresidencyRusbyLomzz-Regular.woff2') format('woff2');
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}