:root {
  --color-light: #EBEBEB;
  --color-light-05: #F5F5F5;
  --color-light-10: #E4E4E4;
  
  --color-dark: #000000;
  --color-dark-05: #313131;

  --color-gray: #323232;
  --color-gray-05: #757575;

  --color-accent-blue: #3075FE;
  --color-blue: #6A97AE;
  --color-blue-01: #BCBEC0;
  --color-blue-02: #C7DBE2;
  --color-blue-03: #4A6572;

  --color-red: #FE1C1C;

  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --text-shadow: var(--shadow);

  --border: 2px solid rgba(88, 130, 193, 0.49);
  --border-gray: 1px solid var(--color-gray);

  --border-radius: 30px;
  --border-radius-m: 9px;
  --border-radius-s: 5px;

  --blur: 10px;

  --font-family-base: 'Accidental Presidency (Rus by Lomzz)', sans-serif;

  --container-width: 1150px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}
