.field {
  padding: 16px 20px;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  border-radius: 20px;
  width: 400px;
  transition-duration: var(--transition-duration);
  resize: none;

  &--error {
    border-color: var(--color-red);
    color: var(--color-red);
  }

  &__required-message {
    transition-duration: var(--transition-duration);
  }

  &__item {
    position: relative;

    p {
      max-width: 80%;
    }

    .textarea-max-symbol-count {
      position: absolute;
      right: 20px;
      bottom: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      color: var(--color-light);
      font-size: 14px;
    }
  }
}
