.order-summary {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 345px;
  background-color: var(--color-dark-20op);
  backdrop-filter: blur(var(--blur));
  padding: 10px;
  border-radius: 30px;
  border: 1px solid var(--color-light);
  font-family: var(--font-family-base);

  &__title {
    font-weight: 400;
    font-size: 40px;
    color: var(--color-light);
  }

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__button {
    padding-block: 20px;
    border: none;
    background-color: var(--color-light);
    color: var(--color-dark);
    border-radius: 100px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &__extra {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-light);
    background-color: var(--color-light-20op);
    border-radius: 20px;
  }
}
