.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100vw;
  background-color: var(--color-light);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

  &__link {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 32px;
    transition-duration: var(--transition-duration);

    @include hover {
      color: var(--color-dark);
    }
  }

  &__body {
    position: relative;

    &-link {
      @include abs-y;

      color: var(--color-dark);

      &:first-child {
        left: 50px;
      }
    }
  }

  &__menu {
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 50px;
    }

    &-item {
      color: var(--color-dark);
    }
  }

  &__cart-button__link {
    right: 50px;

    button {
      border-color: var(--color-dark);

      .cart-button__icon svg * {
        fill: var(--color-dark);
      }

      @include hover {
        background-color: var(--color-dark);

        .cart-button__icon svg * {
          fill: var(--color-light);
        }
      }
    }
  }
}

.header-home {
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 90px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  .header__body {
    &-link {
      color: var(--color-light);

      @include hover {
        color: var(--color-dark);
      }
    }
  }

  .header__cart-button__link {
    right: 50px;
    button {
      border-color: var(--color-light);

      .cart-button__icon svg * {
        fill: var(--color-light);
      }

      @include hover {
        background-color: var(--color-light);

        .cart-button__icon svg * {
          fill: var(--color-dark);
        }
      }
    }
  }

  .header__menu {
    &-item {
      color: var(--color-light);

      @include hover {
        color: var(--color-dark);
      }
    }

    &-link {
      text-shadow: var(--text-shadow);
    }
  }
}
