.order-summary-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-light);

  &--bordered {
    padding: 17px 6px;
    margin-right: -6px;
    // margin-inline: -6px;
    border: 1px solid var(--color-light);
    border-radius: 20px;
  }

  &--green {
    color: var(--color-gray);
  }

  span {
    color: inherit;
  }
}
