.popular-products {
  padding-bottom: 116px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--color-blue-02);
  }

  &__title {
    color: var(--color-blue-02);
    font-family: 'Roboto Condensed';
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    justify-content: space-between;
  }
}
