.about {
  background: url(../../assets/images/about/bg.png) 50% / cover;
  background-repeat: no-repeat;
  padding-top: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    --container-width: 1300px;
  }

  &__title {
    font-family: 'AKONY', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--color-dark);
  }

  &__watemark {
    font-family: 'AKONY', sans-serif;
    font-weight: 700;
    font-size: 256px;
    color: var(--color-dark);
    mix-blend-mode: soft-light;
    padding-bottom: 120px;
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 44px;
    padding-bottom: 100px;
  }
}
